window:not(.about) headerbar:not(.background) {
  background: @headerbar_bg_color;
}

#blackbox-main-window.with-borders:not(.fullscreen) {
  border: 1px solid @borders;
}

#blackbox-main-window.with-borders .custom-headerbar:not(.single-tab-mode) headerbar,
#blackbox-main-window.with-borders .custom-headerbar.single-tab-mode.draw-line-in-single-tab headerbar {
  background-image: image(@borders);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: background-image 0s;
}

/**
 * Our custom header bar inserts window controls inside Adw.HeaderBar which
 * doubles the padding on the sides.
 *
 * https://gitlab.gnome.org/GNOME/libadwaita/-/blob/12f891a7d04951a471e0cc65b7c4a8b3e9dfb8bf/src/stylesheet/widgets/_header-bar.scss#L15
 */
.custom-headerbar headerbar windowhandle > box {
  padding: 0;
}

/**
 * Fix unfocused custom headerbar look. With default styling, tabs become
 * transparent and the "fake bottom tab border" becomes visible behind the
 * active tab.
 */
.custom-headerbar:backdrop windowhandle { filter: none; }

.custom-headerbar:backdrop { filter: opacity(0.5); }

tab {
  background: transparent;
  border-radius: 0;   /* libadwaita 1.2 workaround */
  border: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

/**
 * Prevent tab text from getting too close to the borders.
 */
tab label {
  padding: 0 12px;
}

tabboxchild  {
  margin: 0;          /* libadwaita 1.2 workaround */
  border-radius: 0;   /* libadwaita 1.2 workaround */
  /**
   * The next line causes more problems than it solves. Namely, the tab bar no
   * longer scrolls and a bunch of warnings are thrown in the console.
   */
  /* margin: 0 -3px;     libadwaita 1.2 workaround */
}

tab:selected {
  background: @window_bg_color;
}

#blackbox-main-window.with-borders tab:selected,
#blackbox-main-window.with-borders .custom-headerbar.single-tab-mode:not(.stealth) headerbar .title-label {
  border-left-color: @borders;
  border-right-color: @borders;
}

.custom-headerbar windowcontrols.end.empty {
  margin-left: 2px;
}

.custom-headerbar windowcontrols.end:not(.empty) {
  margin-left: 6px;
}

#blackbox-main-window.with-borders .custom-headerbar:not(.single-tab-mode) windowcontrols.start.empty ~ .title-label,
#blackbox-main-window.with-borders .custom-headerbar:not(.stealth) windowcontrols.start.empty ~ .title-label {
  margin-left: -8px;
}

.custom-headerbar.single-tab-mode.stealth headerbar,
.custom-headerbar.single-tab-mode:not(.stealth) headerbar .title-label {
  background: @window_bg_color;
}

.custom-headerbar.single-tab-mode:not(.stealth) headerbar .title-label {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

/* FIXME: all windowcontrols rules have no effect in fullscreen */

/**
 * Remove space on the left when "Drag Area" is disabled.
 */
.custom-headerbar:not(.with-dragarea):not(.single-tab-mode) windowcontrols.start.empty ~ tabbar {
  /* 11px = (8px from header bar) + (3px from tab workaround) */
  margin-left: -11px;
}

/**
 * Add space on the left when "Drag Area" is enabled.
 */
.custom-headerbar.with-dragarea:not(.single-tab-mode) windowcontrols.start.empty ~ tabbar {
  margin-left: 34px;
}

/**
 * Make header bar darker when "Draw Line" is on and there is a single tab open.
 */
.with-borders .custom-headerbar.single-tab-mode.stealth.draw-line-in-single-tab headerbar {
  background-color: @headerbar_bg_color;
}

tabbox background {
  background: transparent;
}

.toolbar {
  background-color: @headerbar_bg_color;
}

.toolbar > * {
  padding: 2px 8px;
}

.thumbnail picture {
  border: 2px solid transparent;
}

.thumbnail picture.selected {
  border-color: @accent_bg_color;
}

.thumbnail image {
  background-color: @accent_bg_color;
  border-radius: 9999px;
  padding: 2px;
  color: white;
  margin: 8px;
}

window:not(.about) .floating-revealer > headerbar {
  background: transparent;
}

.floating-btn-box button,
.floating-btn-box separator{
  margin: 0;
  outline: 0;
}

.floating-btn-box {
  border-radius: 8px;
}

.floating-revealer menubutton button,
.floating-btn-box,
.floating-revealer windowcontrols image {
  background: @headerbar_bg_color;
}

.floating-revealer menubutton button:hover,
.floating-btn-box button:hover,
.floating-revealer windowcontrols image:hover {
  background: lighter(@headerbar_bg_color);
}

.floating-btn-box button {
  border-radius: 0;
}
.floating-btn-box button:first-child {
  padding-left: 4px;
}
.floating-btn-box button:last-child {
  padding-right: 4px;
}

/* :root {
  --color-0: rgb(40,40,40);
  --color-1: rgb(204,36,29);
  --color-2: rgb(152,151,26);
  --color-3: rgb(215,153,33);
  --color-4: rgb(69,133,136);
  --color-5: rgb(177,98,134);
  --color-6: rgb(104,157,106);
  --color-7: rgb(168,153,132);
  --color-8: rgb(146,131,116);
  --color-9: rgb(251,73,52);
  --color-10: rgb(184,187,38);
  --color-11: rgb(250,189,47);
  --color-12: rgb(131,165,152);
  --color-13: rgb(211,134,155);
  --color-14: rgb(142,192,124);
  --color-15: rgb(235,219,178);
} */
